Repository Maskonk/SWTOR_Op_Bot, pull requests merged in 2020-10, with the labels that each got.

#12 Add side as an valid update attribute
  src/Cogs/Operations.py
  src/Cogs/__pycache__/Operations.cpython-38.pyc
  src/Cogs/__pycache__/Swtor.cpython-38.pyc
Labels: enhancement, operation cog

#13 Feature/any role
  src/Cogs/Operations.py
  src/Cogs/__pycache__/Operations.cpython-38.pyc
Labels: enhancement, operation cog

#17 implemented the add command
  src/Cogs/Operations.py
Labels: enhancement, operation cog

#20 Fix remove user command removes from alternatives lists
  src/Cogs/Operations.py
  src/Cogs/__pycache__/Operations.cpython-38.pyc
  src/Ops.json
Labels: bug, operation cog

#21 Feature/spec
  src/Cogs/Swtor.py
  src/Cogs/__pycache__/Operations.cpython-38.pyc
  src/Cogs/__pycache__/Swtor.cpython-38.pyc
Labels: enhancement

#22 Feature/cap signups
  .gitignore
  src/Cogs/Operations.py
  src/Cogs/Swtor.py
  src/Cogs/__pycache__/Operations.cpython-36.pyc
  src/Cogs/__pycache__/Operations.cpython-38.pyc
  src/Cogs/__pycache__/Swtor.cpython-38.pyc
  src/Ops.json
Labels: enhancement, operation cog

#26 Feature/random op
  src/Cogs/Operations.py
Labels: enhancement, operation cog
