Repository Maskonk/SWTOR_Op_Bot, pull requests merged in 2020-11, with the labels that each got.

#28 Update spec to default to all
  src/Cogs/Swtor.py
Labels: enhancement

#31 Feature/command port
  src/Cogs/Swtor.py
Labels: enhancement, swtor cog

#32 Feature/reserve
  src/Cogs/Operations.py
Labels: enhancement, operation cog

#34 Sign and add refactor
  src/Cogs/Operations.py
Labels: swtor cog

#35 Feature/reserve
  src/Cogs/Operations.py
  src/OpBot.py
Labels: enhancement, operation cog

#38 Feature/reaction signups
  src/Cogs/Operations.py
  src/OpBot.py
  src/Utils/Errors.py
  src/Utils/ReactionUtils.py
Labels: enhancement, operation cog

#40 Change remove command to match exact name
  src/Cogs/Operations.py
Labels: bug, enhancement, operation cog

#45 Feature/server config
  .gitignore
  src/Cogs/Operations.py
  src/Cogs/Swtor.py
  src/OpBot.py
  src/Utils/Validators.py
Labels: enhancement, operation cog, swtor cog

#46 Feature/logging
  .gitignore
  src/Cogs/Operations.py
  src/OpBot.py
Labels: documentation

#47 Sign reserve fix
  src/Cogs/Operations.py
Labels: bug, operation cog
